<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Easy A Solution</title>
  <meta name="description" content="Easy A Solution App">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/styles.css" rel="stylesheet">

</head>

<style>
  body {
    padding-top: 40px;
  }
</style>
<body>


<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="" class="navbar-brand">Coin Market</a>
    </div><!-- Navbar Header-->
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <a href="#feedback" class="btn btn-info navbar-btn navbar-right btn-md">Login!</a>
      <ul class="nav navbar-nav">
        <li><a href="#feedback">Feedback</a>
        <li><a href="#aboutus">About Us</a>
        <li><a href="#blog">Blog</a>
        <li><a href="#options">Options</a>
        <li><a href="#faq">Faq</a>
        <li><a href="#contact">ContactUs</a>
      </ul>
    </div>
  </div><!-- End Container-->

</nav><!-- End navbar -->


<!-- jumbotron-->
<div class="jumbotron">
  <div class="container text-center">
    <h1>
      <span style="color:orange">The Coin Market!!</span>
    </h1>
    <hr>
    <p>Your internet coin collection for</p>
    <hr>
    <div class="btn-group">
      <a href="#contact" class="btn btn-md btn-info">Paypal</a>
      <a href="#contact" class="btn btn-md btn-default">Visa</a>
      <a href="#contact" class="btn btn-md btn-warning">Bit Coin</a>
    </div>

    <hr>

    <div class="container text-center">
      <button type="button" class="btn btn-lg btn-warning">Sign up as a new user and use the App Now!</button>
    </div>
  </div>
</div><!-- End jumbotron -->

<footer>
  <div class="container">
    <div class="container text-center">


      <ul class="list-inline">
        <li><a href="">Twitter</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Youtube</a></li>
      </ul>

      <p>&copy;Copyright @ 2016</p>

      <p>contactus@coinsave.com
      <p>

      <hr>
    </div>
  </div>

</footer>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="js/script.js"></script>

</body>
</html>
